<footer id="footer">
	<div class="footer-col-1">
		<h3>ENCONTRA-NOS</h3>
		<p>____________________</p>
		<p>Rua S. Lourenço 4, loja AI</p>
		<p>4445 - 596</p>
		<p>ERMESINDE</p>
	</div>
	<div class="footer-col-2">
		<h3>MENU</h3>
		<p>____________________</p>
		<p>Início</p>
		<p>Sobre</p>
		<p>Serviços</p>
		<p>Pedir orçamento</p>
	</div>
	<div class="footer-col-3">
		<h3>SEGUE-NOS</h3>
		<p>____________________</p>
		<img class="footer_img-1" src="/images/svg/facebook-square-brands.svg">
		<img class="footer_img-2" src="/images/svg/instagram-brands.svg">
		<img class="footer_img-3" src="/images/svg/twitter-brands.svg">
	</div>
</footer>
