<footer id="footer">
	<div class="footer-col-1">
		<h3>ENCONTRA-NOS</h3>
		<p>____________________</p>
		<p><a href="https://goo.gl/maps/i9o24ewKtdevfaoQ8">Centro Comercial - loja AI</a></p>
		<p><a href="https://goo.gl/maps/i9o24ewKtdevfaoQ8">Rua S. Lourenço 4</a></p>
		<p><a href="https://goo.gl/maps/i9o24ewKtdevfaoQ8">4445 - 596</a></p>
		<p><a href="https://goo.gl/maps/i9o24ewKtdevfaoQ8">ERMESINDE</a></p>
	</div>
	<div class="footer-col-2">
		<h3>MENU</h3>
		<p>____________________</p>
		<p><a href="/">Início</a></p>
		<p><a href="/#about">Sobre</a></p>
		<p><a href="/#services">Serviços</a></p>
		<p><a href="/#clients">Clientes</a></p>
		<p><a href="/#talk">Fale connosco</a></p>
	</div>
	<div class="footer-col-3">
		<h3>SEGUE-NOS</h3>
		<p>____________________</p>
		<a href=""><img class="footer_img-1" src="/images/svg/facebook-square-brands.svg"></a>
		<a href=""><img class="footer_img-2" src="/images/svg/instagram-brands.svg"></a>
		<a href=""><img class="footer_img-3" src="/images/svg/twitter-brands.svg"></a>
	</div>
</footer>
