<header class="landing_page">
  <div id="navbar" class="navbar_list hide_sm">
    <li class="anchor_icon"><a href="/"><img class="nav_icon" src="/images/icon_zetazone.png"></a></li>
    <li><a href="/#about">SOBRE</a></li>
    <li><a href="/#services">SERVIÇOS</a></li>
    <li><a href="/#clients">CLIENTES</a></li>
    <li><a href="/#blog">BLOG</a></li>
    <li><a href="/#talk">FALE CONNOSCO</a></li>
  </div>
  <div class="navbar_icon" data-aos="">
    <a id="hamburger" class="hamburger"><img id="img_icon" src="/images/svg/bars-solid.svg" onclick="showBurger('navbar_links', 'img_icon')"></a>
    <div id="navbar_links" class="navbar_links">
      <p class="nav_about" onclick="navbarGo()"><a href="/#about">Sobre</a></p>
      <p class="nav_services"><a href="/#services" onclick="navbarGo()">Serviços</a></p>
      <p class="nav_clients"><a href="/#clients" onclick="navbarGo()">Clientes</a></p>
      <p class="nav_blog"><a href="/#blog" onclick="navbarGo()">Blog</a></p>
      <p class="nav_talk"><a href="/#talk" onclick="navbarGo()">Fale connosco</a></p>
      <img class="nav_clouds" src="/images/clouds.png">
    </div>
  </div>
  <div id="header_container" class="header_container">
    <h1 class="title" data-aos="fade-right"  data-aos-duration="1000" data-aos-easing="ease-in-sine">{{ title }}</h1>
    {%- if subtitle %}
    <h2 class="subtitle" data-aos="fade-right"  data-aos-duration="1250" data-aos-easing="ease-in-sine">{{ subtitle | safe }}</h2>
    {% endif %}
    <p class="intro_text" data-aos="fade-right"  data-aos-duration="1500" data-aos-easing="ease-in-sine">Um estúdio digital focado em <a class="bold">potenciar negócios online.<a></p>
    <div class="intro_btn" data-aos="zoom-in"  data-aos-duration="2000" data-aos-easing="ease-in-sine"><a class="header_btn green-shadow" href="/quote">Solicitar Orçamento</a></div>
  </div>
  <div id="nav_house" class="nav_house">
    <img class="img_city" id="img_city-1" src="/images/house-mobile.png">
    <img class="img_city" id="img_city-2" src="/images/house-desktop.png">
    <img class="img_city" id="img_city-3" src="/images/house-desktop-3.png">
  </div>
</header>

<!-- /images/house-mobile.png --> 

<!-- /images/house-desktop/bg-10-01.svg -->

<!-- src="/images/house-desktop-31.png" -->

