<header class="landing_page">
  <div class="navbar_list hide_sm">
    <li><a href="/"><img class="nav_icon" src="/images/icon_zetazone.png"></a></li>
    <li><a href="/#about">SOBRE</a></li>
    <li><a href="/#services">SERVIÇOS</a></li>
    <li><a href="/#clients">CLIENTES</a></li>
    <li><a href="/#blog">BLOG</a></li>
    <li><a href="/#talk">FALE CONNOSCO</a></li>
  </div>
  <div class="navbar_icon" data-aos="">
    <a id="hamburger" class="hamburger"><img id="img_icon" src="/images/svg/bars-solid.svg" onclick="showBurger('navbar_links', 'img_icon')"></a>
    <div id="navbar_links" class="navbar_links">
      <p class="nav_about"><a href="/#about">Sobre</a></p>
      <p class="nav_services"><a href="/#services">Serviços</a></p>
      <p class="nav_clients"><a href="/#clients">Clientes</a></p>
      <p class="nav_talk"><a href="/#talk">Fale connosco</a></p>
      <img class="nav_clouds" src="/images/clouds.png">
    </div>
  </div>
</header>





