<header class="landing_page">
  <div class="navbar_list hide_sm">
    <li><a href="/"><img src=""></a></li>
    <li><a href="/#about">SOBRE</a></li>
    <li><a href="/#services">SERVIÇOS</a></li>
    <li><a href="/#clients">CLIENTES</a></li>
    <li><a href="/#talk">FALE CONNOSCO</a></li>
  </div>
  <div class="navbar_icon" data-aos="">
    <a id="hamburger" class="hamburger"><img id="img_icon" src="/images/svg/bars-solid.svg" onclick="showBurger('navbar_links', 'img_icon')"></a>
    <div id="navbar_links" class="navbar_links">
      <p class="nav_about" onclick="navbarGo()"><a href="/#about">Sobre</a></p>
      <p class="nav_services"><a href="/#services" onclick="navbarGo()">Serviços</a></p>
      <p class="nav_clients"><a href="/#clients" onclick="navbarGo()">Clientes</a></p>
      <p class="nav_talk"><a href="/#talk" onclick="navbarGo()">Fale connosco</a></p>
      <img class="nav_clouds" src="/images/clouds.png">
    </div>
  </div>
  <div id="header_container" class="header_container">
    <h1 class="title">{{ title }}</h1>
    {%- if subtitle %}
    <h2 class="subtitle">{{ subtitle | safe }}</h2>
    {% endif %}
    <p class="intro_text">We develop digital solutions that grow your business online</p>
    <div class="intro_btn"><a class="header_btn green-shadow" href="/quote">Pedir Orçamento</a></div>
  </div>
  <div id="nav_house" class="nav_house">
    <img class="img_city" id="img_city" src="/images/house-desktop-31.png">
  </div>
</header>

<!-- /images/house-mobile.png --> 

<!-- /images/house-desktop/bg-10-01.svg -->



