<header>
  <div class="navbar_list hide_sm">
    <li><a href="/"><img src=""></a></li>
    <li><a href="#about">Sobre</a></li>
    <li><a href="#services">Serviços</a></li>
    <li><a href="#clients">Clientes</a></li>
    <li><a href="#talk">Fale connosco</a></li>
  </div>
  <div class="navbar_icon" data-aos="">
    <a id="hamburger" class="hamburger"> 
      <img class="" src="/images/svg/bars-solid.svg" onclick="showBurger('menu_links')">
    </a>
    <div id="navbar_links" class="navbar_links">
      <a href="#about">Sobre</a>
      <a href="#services">Serviços</a>
      <a href="#clients">Clientes</a>
      <a href="#talk">Fale connosco</a>
    </div>
  </div>
  <div class="main_container">
    <h1>{{ title }}</h1>
    {%- if subtitle %}
    <h2 class="subtitle">{{ subtitle | safe }}</h2>
    {% endif %}
  </div> 
</header>





