<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/website-icon/icon_zeta_01.ico">
    <title>{{ ZETAZONE }}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164512398-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164512398-1');
    </script>
  </head>
  <body id="body-landing" class="body-landing" onresize="imgChange()" onload="imgChange()">
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
  </body>
</html>

