---
permalink: /tags/
layout: layouts/quote.njk
---

<div id="tagfeed" class="tagfeed">
	<div class="tagtitle">
		<h2>TAGS</h2>
	</div>
	<div class="taglist">
	{% for tag in collections.tagList %}
	  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
	  <div class="tag_item"><a class="tag" href="{{ tagUrl | url }}">{{ tag }}</a></div>
	  <div class="blog_tag" style="display: none"></div>
	{% endfor %}
	</div>
</div>

