/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

$sm: 320px;
$sme: 767px;
$md: 768px;
$mde: 1023px;
$lg: 1024px;
$lge: 1279px;
$xl: 1280px;
$xle: 1439px;
$xxl: 1440px;

/* colours */
$page-color-1: #f2f2f2;
$page-color-2: #1a2040;
$text-color-1: #1a2040;
$text-color-2: #04d976;
$accent-color: #f2f2f2;
$dark-color: #1a2040;

$dark-blue: #1a2040;
$blue: #232949;
$main-green: #04d976;
$neon-green: #05f283;
$grey: #f2f2f2;

/* #1a2040 #20263f */

/* hide classes */
.hide_sm {
	@media screen and (min-width: $sm) and (max-width: $sme) {
		display: none;
	}
}

@media screen and (min-width: $md) {
	.hide_sm {
		display: block;
	}
}


@media screen and (min-width: $sm) and (max-width: $sme) {
	.hide_lg {
		display: block;
	}
}

@media screen and (min-width: $md) {
	.hide_lg {
		display: none;
	}
}






