/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

$sm: 320px;
$sme: 767px;
$md: 768px;
$mde: 1023px;
$lg: 1024px;
$lge: 1279px;
$xl: 1280px;
$xxl: 1440px;

/* colours */
$page-color-1: #f2f2f2;
$page-color-2: #1a2040;
$text-color-1: #1a2040;
$text-color-2: #04d976;
$accent-color: #f2f2f2;
$dark-color: #1a2040;

$dark-blue: #1a2040;
$main-green: #04d976;
$neon-green: #05f283;
$grey: #f2f2f2;

/* hide classes */
.hide_sm {
	@media screen and (min-width: $sm) and (max-width: $sme) {
		display: none;
	}
}

@media screen and (min-width: $md) {
	.hide_sm {
		display: block;
	}
}


@media screen and (min-width: $sm) and (max-width: $sme) {
	.hide_lg {
		display: block;
	}
}

@media screen and (min-width: $md) {
	.hide_lg {
		display: none;
	}
}

.header_btn:hover, .header_btn:focus, .services-col-1:hover, .services-col-1:focus, .services-col-2:hover, .services-col-2:focus, .services-col-3:hover, .services-col-3:focus, .services-col-4:hover, .services-col-4:focus {
  box-shadow: 0px 5px 4px $grey;
}

#talk {
	.talk_text-1, .talk_text-2 {
		a:focus, a:hover {
			@media screen and (min-width: $sm) and (max-width: $mde) {
				text-decoration: underline;
			}
			@media screen and (min-width: $lg) {
				text-decoration: underline;
				text-decoration-color: $dark-blue;
			}
		}
	}
}

#footer {
	a:focus, a:hover {
		@media screen and (min-width: $sm) and (max-width: $mde) {
			text-decoration: underline;
		}
		@media screen and (min-width: $lg) {
			text-decoration: underline;
			text-decoration-color: $neon-green;
		}
	}
}



