/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

$sm: 320px;
$sme: 767px;
$md: 768px;
$mde: 1023px;
$lg: 1024px;
$lge: 1279px;
$xl: 1280px;
$xxl: 1440px;

/* colours */
$page-color-1: #f2f2f2;
$page-color-2: #1a2040;
$text-color-1: #1a2040;
$text-color-2: #04d976;
$accent-color: #f2f2f2;
$dark-color: #1a2040;

$dark-blue: #1a2040;
$blue: #232949;
$main-green: #04d976;
$neon-green: #05f283;
$grey: #f2f2f2;

/* #1a2040 #20263f */

/* hide classes */
.hide_sm {
	@media screen and (min-width: $sm) and (max-width: $sme) {
		display: none;
	}
}

@media screen and (min-width: $md) {
	.hide_sm {
		display: block;
	}
}


@media screen and (min-width: $sm) and (max-width: $sme) {
	.hide_lg {
		display: block;
	}
}

@media screen and (min-width: $md) {
	.hide_lg {
		display: none;
	}
}

.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}








