body {
  font-family: 'Klavika-Regular';
  @media (min-width: $sm) and (max-width: $sme) {
    font-size: 16px;
  };
  @media (min-width: $md) and (max-width: $lge) {
    font-size: 18px;
  };
  @media (min-width: $xl) {
    font-size: 20px;
  };
}

body.body-landing {
  text-align: center;
  background-color: $page-color-2;
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

body.body-quote {
  text-align: center;
  background-color: $page-color-1;
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: $dark-blue;
}

header {
  .intro_btn {
    @media (min-width: $sm) and (max-width: $sme) {
      font-size: 20px;
    };
    @media (min-width: $md) and (max-width: $lge) {
      font-size: 22px;
    };
    @media (min-width: $xl) {
      font-size: 24px;
    };
  }
}

.navbar_list, .talk_text-1, .talk_text-2 {
  a {
    color: $dark-blue !important;
  }
}

h1, h2, h3 {
  font-family: 'Arvo-Regular';
  color: $text-color-1;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 0.2em;
  line-height: 1;
}

header {
  .subtitle {
    font-family: 'Klavika-Regular' ;
    color: $grey !important;
  }
}

h1 {
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 1;
  @media (min-width: $md) and (max-width: $lge) {
    font-size: 4em;
  };
  @media (min-width: $xl) {
    font-size: 5em;
  };
}

p, a {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1em;
}

header {
  a {
    text-decoration: none !important;
  }
}

#talk, #footer {
  a {
    @media screen and (min-width: $lg) {
      text-decoration: none;
    }
  }
}

