/*
* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color-1;
  color: $page-color-1;
}
::selection {
  background-color: $text-color-1;
  color: $page-color-1;
}
*/

header {
  @media screen and (min-width: $sm) and (max-width: $md) {
    padding: 0 25px 10px 25px;
  }
}

#about, #services, #clients, #talk {
  padding: 40px 20px;
}

body {
  text-align: center;
  background-color: $page-color-2;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

/*
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}
*/

a:link,
a:visited {
  color: $text-color-1;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color-1, $accent-color, 20%)
}

a:hover,
a:focus {
  color: $text-color-1;
  border-bottom-color: $text-color-1;
}

code {
  font-size: 0.8em;
  background-color: mix($text-color-1,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}








