/*
* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color-1;
  color: $page-color-1;
}
::selection {
  background-color: $text-color-1;
  color: $page-color-1;
}
*/

header {
  overflow-x: hidden;
  @media screen and (min-width: $sm) and (max-width: $sme) {
    padding: 0 25px 0 25px;
  }
  @media screen and (min-width: $md) and (max-width: $lge) {
    padding: 0 40px 0 40px;
  }
  @media screen and (min-width: $xl) {
    padding: 0 23px 0 80px;
  }
}

#about, #clients, #talk, #quote {
  @media screen and (min-width: $sm) and (max-width: $sme) {
    padding: 40px 20px;
  }
  @media screen and (min-width: $md) and (max-width: $lge) {
    padding: 60px 40px;
  }
  @media screen and (min-width: $xl) and (max-width: $xxl) {
    padding: 80px 80px;
  }
  @media screen and (min-width: $xxl) {
    padding: 80px 120px;
  }
}

#services {
  @media screen and (min-width: $sm) and (max-width: $sme) {
    margin: 50px 20px 80px 20px;
  }
  @media screen and (min-width: $md) and (max-width: $lge) {
    margin: 100px 40px;
  }
  @media screen and (min-width: $xl) and (max-width: $xxl) {
    margin: 100px 40px 120px 40px;
  }
  @media screen and (min-width: $xxl) {
    padding: 100px 80px;
  }
}

footer {
  @media screen and (min-width: $sm) and (max-width: $sme) {
    margin: 40px 0 80px 0;
  }
  @media screen and (min-width: $md) and (max-width: $mde) {
    margin: 40px 80px 10px 80px;
  }
  @media screen and (min-width: $lg) and (max-width: $xl) {
    margin: 40px 80px 80px 80px;
  }
  @media screen and (min-width: $xl) and (max-width: $xxl) {
    margin: 40px 160px 80px 160px;
  }
  @media screen and (min-width: $xxl) {
    margin: 40px 160px 80px 160px;
  }
}

/*
a:link,
a:visited {
  color: $text-color-1;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color-1, $accent-color, 20%)
}

a:hover,
a:focus {
  color: $text-color-1;
  border-bottom-color: $text-color-1;
}
*/

main {
  margin-top: 4em;
}









