#footer {
	@media screen and (min-width: $md) and (max-width: $mde) {
		display: grid;
		grid-template-rows: 1fr 1fr 0.1fr;
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (min-width: $lg) {
		display: grid;
		grid-template-rows: 1fr 0.1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.footer-col-1 {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			padding: 0 18%;
		}
		@media screen and (min-width: $md) and (max-width: $mde) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;
			align-self: start;
			justify-self: center;
		}
		@media screen and (min-width: $lg) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;
			align-self: start;
			justify-self: center;
		}
	}
	.footer-col-2 {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			padding: 0 30%;
		}
		@media screen and (min-width: $md) and (max-width: $mde) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 2;
			grid-column-end: 3;
			align-self: start;
			justify-self: center;
		}
		@media screen and (min-width: $lg) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 3;
			grid-column-end: 4;
			align-self: start;
			justify-self: center;
		}
	}
	.footer-col-3 {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			padding: 0 21%;
		}
		@media screen and (min-width: $md) and (max-width: $mde) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 3;
			align-self: start;
			justify-self: center;
		}
		@media screen and (min-width: $lg) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 2;
			grid-column-end: 3;
			align-self: start;
			justify-self: center;
		}
	}
	
	.footer_img-1, .footer_img-2 {
		margin-right: 20px;
	}
	svg {
		height: auto;
		width: 35px;
	}
	h3 {
		margin: 60px 0 -5px 0;
	}
	p {
		margin: 0px 0 5px 0;
	}
	hr {
		margin: 20px 0;
		@media screen and (min-width: $md) {
			width: 100%;
		}
		@media screen and (min-width: $sm) and (max-width: $sme) {

		}
	}

	#copyright {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		color: #f2f2f2 !important;
		font-size: 12px;
		width: 100%;
		@media screen and (min-width: $sm) and (max-width: $lge) {
			justify-self: center;
		}
		@media screen and (min-width: $xl) {
			margin-left: 40px;
			text-align: left;
		}
	}

	.copyright {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			margin-top: 50px;
		}
		@media screen and (min-width: $md) and (max-width: $mde) {
			margin-top: -30px;
		}
		@media screen and (min-width: $lg) {
			margin-top: 30px;
		}
	}

	.privacy, .trademark {
		display: inline-block;
		margin-right: 20px;
	}
}

.body-landing {
	#footer {
		h3, p, a, hr {
			color: $main-green;
		}
		svg {
			fill: #04d976;
		}
	}
}

.body-quote {
	#footer {
		h3, p, a, hr {
			color: $dark-blue;
		}
		path {
			fill: #1a2040;
		}
	}
}





