.navbar_list {
  padding-top: 3em;
  background-color: #f2f2f2;

  li {
    display: inline;
  }
  /*
  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color-1, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color-1, $accent-color, 80%);
    text-decoration: none;
  }
  */
}

.navbar_icon {
  @media screen and (min-width: $md) {
    display: none;
  }
  @media screen and (min-width: $sm) and (max-width: $md) {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100vw;
    margin-left: -25px;
    top: 0px;
    z-index: 2;
    background-color: $grey;
  }
  .hamburger {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: end;
    img {
      height: 40px;
      width: auto;
      fill: $dark-blue;
      position: relative;
      margin-right: 25px;
      z-index: 10;
    }
  }
}

.navbar_links {
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 0px;
  height: 90vh;
  width: 100vw;
  text-align: center;
  font-color: $grey;
  background-color: $dark-blue;
  .nav_about {
    position: relative;
    margin-top: 110px;
    margin-bottom: 50px;
  }
  .nav_services {
    margin-bottom: 50px;
  }
  .nav_clients {
    margin-bottom: 50px;
  }
  .nav_talk {
    margin-bottom: 50px;
  }
  .nav_clouds {
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
    //left: 0px;
    text-align: center;
    height: 93px;
    width: auto;
  }
}













