.navbar_list {
  grid-template-rows: 1fr;
  grid-template-columns: 40% 1fr 1fr 1fr 1fr;
  position: relative;
  z-index: 1;
  width: 90vw;
  padding: 23px 5vw;
  background-color: #f2f2f2;
  text-decoration: none;
  @media screen and (min-width: $sm) and (max-width: $sme) {
    display: none;
  }
  @media screen and (min-width: $md) {
    display: grid;
  }
  @media screen and (min-width: $md) and (max-width: $lge) {
    left: -40px;
  }
  @media screen and (min-width: $xl) {
    left: -80px;
  }

  li {
    display: inline;
  }
}

.navbar_icon {
  @media screen and (min-width: $md) {
    display: none;
  }
  @media screen and (min-width: $sm) and (max-width: $sme) {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100vw;
    margin-left: -25px;
    top: 0px;
    z-index: 2;
    background-color: $grey;
    .hamburger {
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: center;
      justify-self: end;
      img {
        height: 40px;
        width: auto;
        position: relative;
        margin-right: 25px;
        z-index: 10;
      }
    }
  }
}

.navbar_links {
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 0px;
  height: 90vh;
  width: 100vw;
  text-align: center;
  font-color: $grey;
  background-color: $dark-blue;
  .nav_about {
    position: relative;
    margin-top: 50px;
  }
  p {
    margin: 0 0 25px 0;
  }
  .nav_clouds {
    position: relative;
    z-index: 10;
    margin: 20px 0 40px 0;
    text-align: center;
    height: 93px;
    width: auto;
  }
  h3, p, a {
    color: $main-green;
    text-decoration: none;
    font-size: 36px;
  }
}













