#footer {
	.footer_img-1, .footer_img-2 {
		margin-right: 20px;
	}
	img {
		height: auto;
		width: 35px;
	}
	h3, p, a {
		color: $main-green;
	}
	h3 {
		margin: 60px 0 -5px 0;
	}
	p {
		margin: 0px 0 5px 0;
	}
}