#services {
	display: grid;
	//grid-template-rows: 50px 1fr 1fr 1fr 1fr;
	//grid-template-rows: 50px 160px 160px 160px 160px;
	@media screen and (min-width: $sm) and (max-width: $mde) {
		grid-template-columns: 1fr;
		grid-row-gap: 25px;
	}
	@media screen and (min-width: $lg) and (max-width: $lge) {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 80px;
	}
	@media screen and (min-width: $xl) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-row-gap: 30px;
	}

	h2 {
		color: $main-green;
		@media screen and (min-width: $sm) and (max-width: $mde) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;
			margin-top: 5px;
			margin-bottom: 25px;
		}
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 3;
			margin-top: 5px;
			margin-bottom: -20px;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 5;
			margin-top: 5px;
			margin-bottom: 35px;
		}
	}

	h3 {
		color: $dark-blue;
		margin: 10px 0 0 0;
	}

	img {
		height: 60px;
		width: auto;
	}

	.services-col-1 {
		border: 3px solid $main-green;
		background-color: $main-green;
		border-radius: 15px;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 20px 0 20px;
		align-self: start;
		@media screen and (min-width: $sm) and (max-width: $mde) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $sm) and (max-width: $lge) {
			height: 125px;
		}
		@media screen and (min-width: $lge) {
			height: 140px;
			margin-bottom: 50px;
		}
	}
	.services-info-1 {
		display: none;
		color: $dark-blue;
		margin: 20px 0;
	}

	.services-col-2 {
		border: 3px solid $main-green;
		background-color: $main-green;
		border-radius: 15px;
		width: 180px;
		height: 125px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 20px 0 20px;
		align-self: start;
		@media screen and (min-width: $sm) and (max-width: $mde) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
		}
		@media screen and (min-width: $sm) and (max-width: $lge) {
			height: 125px;
		}
		@media screen and (min-width: $lge) {
			height: 140px;
			margin-bottom: 50px;
		}
	}
	.services-info-2 {
		display: none;
		color: $dark-blue;
		margin: 20px 0;
	}

	.services-col-3 {
		border: 3px solid $main-green;
		background-color: $main-green;
		border-radius: 15px;
		width: 180px;
		height: 125px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 20px 20px 20px;
		align-self: start;
		@media screen and (min-width: $sm) and (max-width: $mde) {
			grid-row-start: 4;
			grid-row-end: 5;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $sm) and (max-width: $lge) {
			height: 125px;
		}
		@media screen and (min-width: $lge) {
			height: 140px;
			margin-bottom: 50px;
		}
	}
	.services-info-3 {
		display: none;
		color: $dark-blue;
		margin: 20px 0;
	}

	.services-col-4 {
		border: 3px solid $main-green;
		background-color: $main-green;
		width: 180px;
		height: 125px;
		padding: 30px 20px 0 20px;
		border-radius: 15px;
		margin-left: auto;
		margin-right: auto;
		align-self: start;
		@media screen and (min-width: $sm) and (max-width: $mde) {
			grid-row-start: 5;
			grid-row-end: 6;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 2;
			grid-column-end: 3;
		}
		@media screen and (min-width: $sm) and (max-width: $lge) {
			height: 125px;
		}
		@media screen and (min-width: $lge) {
			height: 140px;
			padding: 30px 20px 20px 20px;
			margin-bottom: 50px;
		}
	}
	.services-info-4 {
		display: none;
		height: 80px;
		color: $dark-blue;
		margin: 20px 0;
	}
}
