#clients {
	background-color: $grey;
	display: grid;
	grid-template-rows: 1fr 2.5fr;
	grid-template-columns: 1fr 1fr;
	@media screen and (min-width: $xl) {
		margin-bottom: -40px
	}

	h2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		@media screen and (min-width: $sm) and (max-width: $sme) {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $md) and (max-width: $lge) {
			margin-top: 20px;
			margin-bottom: 40px;
		}
		@media screen and (min-width: $xl) {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	}

	.img_client-1 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: end;
	}
	img.img_client-1 {
		align-self: center;
		justify-self: center;
		height: auto;
		@media screen and (min-width: $sm) and (max-width: $sme) {
			width: 100%;
			max-width: 120px;
		}
		@media screen and (min-width: $md) {
			width: 100%;
			max-width: 180px;
		}

	}

	.img_client-2, .img_client-21 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
		overflow: hidden;
		align-self: end;
	}
	img.img_client-2 {
		align-self: center;
		justify-self: center;
		height: auto;
		width: 100%;
		max-width: 300px;
		
	}
	img.img_client-21 {
		align-self: center;
		justify-self: center;
		height: auto;
		width: 100%;
		max-width: 110px;
	}
}




