#blog {
	text-align: center;
	h2 {
		color: $grey;
		margin: 40px 0;
	}
}

.blog_feed {
	@media screen and (min-width: $md) {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

.blog_post, .post {
	display: grid;
	color: $dark-blue;
	background-color: $grey;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid $dark-blue;
	@media screen and (min-width: 320px) and (max-width: 360px) {
		width: 90%;
	}
	@media screen and (min-width: 360px) {
		width: 100%;
	}
	@media screen and (min-width: $sm) and (max-width: $mde) {
		grid-template-rows: 160px 45px 35px 35px;
		max-width: 300px;
		margin: 30px auto;
	}
	@media screen and (min-width: $lg) and (max-width: $lge) {
		grid-template-rows: 200px 52px 45px 45px;
		max-width: 375px;
		text-align: center;
		margin: 0 auto;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	@media screen and (min-width: $xl) {
		grid-template-rows: 240px 60px 50px 50px;
		max-width: 450px;
		text-align: center;
		margin: 0 auto;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

.blog_image_box {
	grid-row-start: 1;
	grid-row-end: 2;
	//grid-column-start: 1;
	//grid-column-end: 2;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid $dark-blue;
}

.blog_image {
	position: relative;
	text-align: center;
	align-self: center;
	@media screen and (min-width: 320px) and (max-width: 360px) {
		top: 10px;
		height: 87%;
	}
	@media screen and (min-width: 360px) {
		top: 0px;
		left: 0px;
		height: 100%;
	}
}
.blog_tag {
	grid-row-start: 2;
	grid-row-end: 3;
	//grid-column-start: 1;
	//grid-column-end: 2;
	align-self: end;
	justify-self: left;
	background-color: $dark-blue;
	margin: 0 0 0 0px;
	padding: 5px;
	border-radius: 5px;
	transform: scale(0.8);
	transform-origin: 0 0;
	a {
		color: $grey;
		text-decoration: none;
	}
}

.blog_title {
	grid-row-start: 3;
	grid-row-end: 4;
	//grid-column-start: 1;
	//grid-column-end: 2;
	align-self: end;
	justify-self: left;
	a {
		color: $dark-blue;
		text-decoration: none;
	}
}

.blog_date {
	grid-row-start: 4;
	grid-row-end: 5;
	//grid-column-start: 1;
	//grid-column-end: 2;
	align-self: end;
	justify-self: left;
	transform: scale(0.8);
	transform-origin: 0 0;
}

.all-posts {
	margin: 40px 0;
	a {
		color: $grey;
		text-decoration: underline;
	}
}

.post {
	border: 3px solid $dark-blue;
	padding: 10px;
}

.post_title {
	margin: 20px 0;
	text-align: left;
}

.post_date_tag {
	text-align: left;
	margin: 30px 0;
}

.post_image {
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 1px solid $dark-blue;
}

.post_text, .footnote {
	text-align: left;
}

.tagfeed {
	text-align: center;
}

.tagtitle {
	margin: -20px 0 40px 0;
}

.taglist {

}

.tag_item {
	margin: 30px 0;
	a {
		color: $grey;
		text-decoration: none;
		background-color: $dark-blue;
		padding: 8px;
		border-radius: 10px;
	}
}






