#about {
	background-color: $grey;
	color: $dark-blue;

	h2 {
		margin-bottom: 30px;
	}

	.img_team {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin-top: 50px;
	}
	.about-col-1 {
		padding: 0 5%;
		margin: 50px 0 0 0;
	}

	.about-col-2 {
		@media screen and (min-width: $md) {
			padding: 0 15%;
			margin: 30px 0;
		}
	}
}
