#clients {
	background-color: $grey;
	display: grid;
	grid-template-rows: 1fr 2.5fr;
	grid-template-columns: 50% 50%;
	@media screen and (min-width: $xl) {
		margin-bottom: -40px;
	}

	h2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		@media screen and (min-width: $sm) and (max-width: $sme) {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $md) and (max-width: $lge) {
			margin-top: 20px;
			margin-bottom: 40px;
		}
		@media screen and (min-width: $xl) {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	}


	.glide {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.glide__slides {
		align-items: center;
	}

	.glide__arrow {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			top: 50%;
		}
		@media screen and (min-width: $md) {
			top: 40%;
		}
		color: #1a2040;
		border: 2px solid #1a2040;
		border-radius: 5px;
		background-color: #f2f2f2;
		font-weight: 700;
	}

	img {
		width: 150px;
		height: auto;
	}
	/*
	.img_client-1 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: end;
	}
	
	img.img_client-1 {
		align-self: center;
		justify-self: center;
		height: auto;
		@media screen and (min-width: $sm) and (max-width: $sme) {
			width: 100%;
			max-width: 120px;
		}
		@media screen and (min-width: $md) {
			//width: 100%;
			max-width: 180px;
		}
	}

	/*
	.img_client-2 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
		overflow: hidden;
		align-self: end;
	}
	
	img.img_client-2 {
		align-self: center;
		justify-self: center;
		height: auto;
		//width: 100%;
		@media screen and (min-width: $sm) and (max-width: $sme) {
			max-width: 225px;	
		}
		@media screen and (min-width: $md) {
			max-width: 300px;
		}	
	}
	*/
}




