#about {
	background-color: $grey;
	color: $dark-blue;
	@media screen and (min-width: $xl) {
		display: grid;
		grid-template-rows: 1fr 4fr;
		grid-template-columns: 1fr 1fr;
	}

	h2 {
		margin-bottom: 30px;
		@media screen and (min-width: $xl) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}

	.about-col-1 {
		@media screen and (min-width: $sm) and (max-width: $lge) {
			padding: 0 5%;
			margin: 50px 0 0 0;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
			align-self: start;
			padding: 0 20% 0 0;
			margin-top: 30px;
			text-align: justify;
		}
	}

	.about-col-2 {
		@media screen and (min-width: $md) and (max-width: $lge){
			padding: 0 20%;
			margin: 30px 0;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			align-self: end;
			padding: 5%;
		}
	}
	.img_team {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin-top: 50px;
	}
}
