/*
header {
	@media screen (min-height $sm) and (max-width: $mde) {
		height: 93vh;
	}
}
*/

.header_container {
	position: relative;
	z-index: 1; 
	margin-top: -80px;
	display: grid;
	@media screen and (min-width: $sm) and (max-width: $sme) {
		height: 91vh;
		grid-template-rows: 30% 36% 34%;
		grid-template-columns: 1fr;
	}
	@media screen and (min-width: $md) and (max-width: $mde) {
		height: 93vh;
		grid-template-rows: 30% 36% 34%;
		grid-template-columns: 50% 50%;
	}
	@media screen and (min-width: $lg) and (max-width: $lge) {
		height: 93vh;
		grid-template-rows: 30% 36% 34%;
		grid-template-columns: 30% 70%;
	}
	@media screen and (min-width: $xl) {
		height: 100vh;
		grid-template-rows: 1.5fr 0.5fr 0.5fr 1.5fr;
		grid-template-columns: 25% 75%;
	}
	@media screen and (min-width: $xxl) {
		padding-left: 60px;
	}
}

/*
.safariHead {
	height: 89vh !important;
} 
*/

.title {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: left;
	color: $main-green;
	position: relative;
	z-index: 5;
	@media screen and (min-width: $sm) and (max-width: $lge) {
		grid-row-start: 1;
		grid-row-end: 2;
		align-self: end;
	}
	@media screen and (min-width: $xl) {
		grid-row-start: 1;
		grid-row-end: 2;
		align-self: end;
		margin-top: 30px;
	}
}

.subtitle {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: left;
	color: $main-green;
	position: relative;
	z-index: 5;
	margin-top: 0px;
	@media screen and (min-width: $sm) and (max-width: $lge) {
		grid-row-start: 2;
		grid-row-end: 3;
		align-self: start;
	}
	@media screen and (min-width: $xl) {
		grid-row-start: 2;
		grid-row-end: 3;
		align-self: start;
	}
}

.intro_text {
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: left;
	color: $main-green;
	position: relative;
	z-index: 5;
	@media screen and (min-width: $sm) and (max-width: $lge) {
		grid-row-start: 2;
		grid-row-end: 3;
		align-self: center;
	}
	@media screen and (min-width: $xl) {
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: start;
		margin-top: 50px;
	}
}

.intro_btn {
	grid-column-start: 1;
	grid-column-end: 2;
	position: relative;
	z-index: 5;
	@media screen and (min-width: $sm) and (max-width: $lge) {
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: start;
	} 
	@media screen and (min-width: $xl) {
		grid-row-start: 4;
		grid-row-end: 5;
		align-self: center;
	}
	@media screen and (min-width: $sm) and (max-width: $sme) {
		justify-self: center;
	}
	@media screen and (min-width: $md) and (max-width: $mde) {
		justify-self: left;
	}
	@media screen and (min-width: $lg) {
		justify-self: center;
	}
}

.nav_house {
	z-index: 0;
	@media screen and (min-width: $sm) and (max-width: $sme) {
		position: absolute;
		width: 100vw;
		max-width: 100%;
		left: 0px;
		bottom: 0px;
		overflow: hidden;
	}
	@media screen and (min-width: $md) and (max-width: $lge) {
		overflow: hidden;
		position: relative;
		height: 100vh;
		margin: 0 -40px -100vh -40px;
		top: -100vh;
		bottom: -100vh;
	}
	@media screen and (min-width: $xl) {
		overflow: hidden;
		position: relative;
		height: 100vh;
		margin: 0 -23px -100vh -80px;
		top: -100vh;
		bottom: -100vh;
	}

	.img_city {
		@media screen and (min-width: $sm) and (max-width: $sme) {
			position: relative;
			left: -45%;
			bottom: -50px;
			width: 158%;
			max-width: 158%;
			height: auto;
		}
		@media screen and (min-width: $md) and (max-width: $mde) {
			position: absolute;
			z-index: 5;
			left: 0;
			bottom: 0;
			margin-bottom: -1px;
			left: -10%;
			width: 116%;
			max-width: 116%;
			max-height: 80vh;
		}
		
		@media screen and (min-width: $lg) and (max-width: $lge) {
			position: absolute;
			z-index: 5;
			left: 0;
			bottom: 0;
			margin-bottom: -1px;
			left: -1px;
			right: 100%;
			width: 101%;
			height: auto;
			max-width: 101%;
			max-height: 80vh;
		}

		@media screen and (min-width: $xl) {
			position: absolute;
			z-index: 5;
			bottom: 0;
			margin-bottom: -1px;
			right: -5px;
			width: auto;
			max-width: 101%;
			max-height: 103vh;
		}
		
	}
}





