#quote {
	padding-top: 0;
	margin-top: 0;

	p {
		text-align: left;
		margin: 30px 0 30px 20px;
	}
	label {
		display: inline;
		float: right;
		margin-right: 20px;
		margin-top: 4px;
		vertical-align: middle;
	}
	.moveup {
		@media screen and (min-width: $sm) and (max-width: 483px) {
			margin-top: -70px;
		}
		@media screen and (min-width: 484px) {
			margin-top: -55px;
		}
	}
	.reduce {
		margin-top: -35px;
		font-size: 12px;
		width: 100%;
		text-align: left;
	}

	.input_text {
		display: inline-block;
		float: left;
		width: 80%;
		margin: 0 20px;
	}
	.short_input {
		display: inline-block;
		float: left;
		width: 80%;
		margin: 0 20px 30px 20px;
		height: 20px;
	}
	.long_input {
		display: inline-block;
		float: left;
		width: 80%;
		margin: 0 20px 30px 20px;
		height: 40px;
	}
	button {
		margin-left: auto;
		margin-right: auto;
	}

	.questions-1 {
		margin-top: 40px;
	}
	.questions-2 {
		margin-bottom: 40px;
	}
}