#quote {
	overflow: hidden;
	@media screen and (min-width: $sm) and (max-width: $lge) {
		padding-top: 0;
		margin-top: 0;
	}
	@media screen and (min-width: $xl) {
		padding-top: 0;
		margin-top: 40px;
		margin-bottom: -50px;
	}
	@media screen and (min-width: $lg) and (max-width: $lge) {
		display: grid;
		grid-template-rows: 150px 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 80px;
	} 
	@media screen and (min-width: $xl) {
		display: grid;
		grid-template-rows: 175px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 80px;
	}
	p {
		text-align: left;
		margin: 30px 0 30px 20px;
	}
	label {
		display: inline;
		float: right;
		margin-right: 20px;
		margin-top: 4px;
		vertical-align: middle;
	}
	h2 {
		align-self: start;
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}
	h3 {
		align-self: end;
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}
	.questions-1 {
		margin-top: 40px;
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
	.questions-2 {
		margin-bottom: 50px;
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			margin-top: 40px;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			margin-top: 40px;
		}
	}
	.personal_info {
		margin-top: 50px;
		@media screen and (min-width: $lg) and (max-width: $lge) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		@media screen and (min-width: $xl) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 3;
			grid-column-end: 4;
			margin-top: 70px;
		}
	}

	.moveup {
		@media screen and (min-width: $sm) and (max-width: 483px) {
			margin-top: -70px;
		}
		@media screen and (min-width: 484px) {
			margin-top: -55px;
		}
	}
	.reduce {
		margin-top: -35px;
		font-size: 12px;
		width: 100%;
		text-align: left;
	}

	.input_text {
		display: inline-block;
		float: left;
		width: 80%;
		margin: 0 20px;
	}
	.short_input {
		display: inline-block;
		float: left;
		margin: 0 20px 30px 20px;
		height: 20px;
		@media screen and (min-width: $sm) and (max-width: $lge) {
			width: 85vw;
		}
		@media screen and (min-width: $xl) {
			width: 25vw;
		}
	}
	.long_input {
		display: inline-block;
		float: left;
		margin: 0 20px 30px 20px;
		height: 40px;
		@media screen and (min-width: $sm) and (max-width: $lge) {
			width: 85vw;
		}
		@media screen and (min-width: $xl) {
			width: 25vw;
		}
	}
	.input_btn {
		width: 100%;
	}
	button {
		margin-left: auto;
		margin-right: auto;
		@media screen and (min-width: $sm) and (max-width: $lge) {
			margin-top: 30px;
		}
	}
}